.logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt);
    text-decoration: none;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .logo__studio {
    color: #000000;
  }
  