.nav__list {
    @extend %reset-list;
    
    display: flex;
    gap: 50px;
    padding-left: 0%;
    margin-left: 0%;
  }
  
  .nav {
    @include fonts(14px, 1.14, 500);
    
  }

  .nav__link {
    transition: color 250ms var(--cubic);
  
   &:hover,
   &:focus {
    color: var(--accent-txt);
    padding: 32px 0;}
  }
  
  .nav__link,
  .nav-contacts__mail,
  .nav-contacts__phone {
   @extend %reset-link;
  }
  
  .nav-contacts__list {
    @extend %reset-list;

    display: flex;
    padding-left: 0px;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    align-items: center;
  }
  
  .nav-contacts__phone {
    padding-right: 0px;
  }
  
  .nav-contacts__mail {
    margin-left: 318px;
  }
  
  .nav-contacts__mail,
  .nav-contacts__phone {
    flex-basis: calc((100% - 50px) / 2);

    @include fonts(14px, 1.14, 500);
    
    color: var(--txt-cl);
  }

  .nav-contacts__mail {
    display: flex;
    gap: 10px;
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
    color: var(--accent-txt);}
  }

  .nav-contacts__phone {
    display: flex;
    gap: 10px;
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-txt);
      }
  }
 
  .nav-contacts__icon {
    fill: #757575;
    transition: fill 250ms var(--cubic);

    .nav-contacts__mail:focus &,
    .nav-contacts__mail:hover & {
    fill: var(--accent-txt);
      }
    
    .nav-contacts__phone:hover &,
    .nav-contacts__phone:focus & {
        fill: var(--accent-txt);
      }
  }
  
  .nav__link--current {
    position: relative;
    text-decoration: none;
    color: var(--accent-txt);
    padding-bottom: 32px;
    
    &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
  
    display: block;
    background-color: #2196f3;
    height: 4px;
    width: 100%;
    border-radius: 2px;}
  }
  
  
  