.footer-form__items {
  display: flex;
  gap: 12px;
}

.footer-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.14;
}

.subscribe-form__input {
  width: 100%;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: #2f303a;

  outline: transparent;
  transition: border-color 250ms var(--cubic);
  color: #ffffff;

  &:focus {
    border-color: #2196f3;
    }

  &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
    }
}


.subscribe-form__btn {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px 14px 10px 28px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  background-color: #188ce8;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
}